node-red_flow.json
[{"id":"74e73364.df2b2c","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"d7d2504.9a3aeb","type":"sqlite","z":"74e73364.df2b2c","mydb":"9bc418ae.b7b028","sqlquery":"prepared","sql":"INSERT INTO sensors_value (id, type, value)\n  values ($id, $type, $value)\n","name":"sensors.db","x":450,"y":60,"wires":[[]]},{"id":"f101d2ff.26033","type":"mqtt in","z":"74e73364.df2b2c","name":"","topic":"sensors/#","qos":"2","datatype":"auto","broker":"6a2e14e5.5f695c","nl":false,"rap":true,"rh":0,"x":80,"y":60,"wires":[["1fd5abd8.23ebd4"]]},{"id":"e7a830fa.90e4","type":"debug","z":"74e73364.df2b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"1fd5abd8.23ebd4","type":"function","z":"74e73364.df2b2c","name":"data_reformat","func":"const t = msg.topic.split(\"/\");\nif (t.length != 3)\n    return;\n\nmsg.params = {\n    $id: t[1],\n    $type: t[2],\n    $value: Number(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["e7a830fa.90e4","d7d2504.9a3aeb"]]},{"id":"9bc418ae.b7b028","type":"sqlitedb","db":"/home/pi/Metabase/sqlite-data/sensors.db","mode":"RW"},{"id":"6a2e14e5.5f695c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]